VITE_LINEUP_IMAGE_URL=https://example.lambda-url.eu-west-1.on.aws/
VITE_GOAL_IMAGE_URL=https://example.lambda-url.eu-west-1.on.aws/
VITE_FINAL_RESULT_IMAGE_URL=https://example.lambda-url.eu-west-1.on.aws/
