.goal-text {
  color: var(--text-color, white);
  text-shadow: var(--text-shadow, 0 0 10px black);
}

/* Se vuoi spostare diversamente i due testi,
   puoi aggiungere posizioni assolute o margini differenti: */

.goal-title {
  font-size: var(--title-size, 80px);
  font-weight: bold;
  margin-bottom: 10px;
}

.player-name-goal {
  font-size: var(--player-size, 110px);
}

.goal-minute {
  font-size: var(--minute-size, 80px);
  margin-top: 10px;
}

.goal-container {
  position: absolute;
  top: 65%;
  left: 7%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.overlay-image {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 50%;
  z-index: 1;
  pointer-events: none;
}