
.result-root {
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teams-row {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-bottom: 2rem;
  position: absolute;
  top: 45%;
  left: 17%;
  color: white;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.team-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-logo {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.team-name {
  margin-top: 1rem;
  font-size: 60px;
  text-align: center;
}

.score-row {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  position: absolute;
  top: 70%;
  left: 0;
  color: white;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.score-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.score-number {
  font-size: 120px;
}

.score-number-1 {
  position: absolute;
  left: 27%;
}

.score-number-2 {
  position: absolute;
  right: 30%;
}

.score-separator {
  font-size: 120px;
  line-height: 1;
}

.scorers-list {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.scorers-list-position-1 {
    position: absolute;
    top: 80%;
    left: 20%;
}

.scorers-list-position-2 {
    position: absolute;
    top: 85%;
    left: 60%;
}

.scorer {
  font-size: 40px;
}
