.goal-text {
  color: var(--text-color, white);
  text-shadow: var(--text-shadow, 0 0 10px black);
  display: block;
}

/* Se vuoi spostare diversamente i due testi,
   puoi aggiungere posizioni assolute o margini differenti: */

.goal-title {
  font-size: var(--title-size, 80px);
  font-weight: bold;
  margin-bottom: 10px;
}

.player-name-goal {
  font-size: var(--player-size, 110px);
  margin-bottom: 15px;
}

.surname {
  margin-right: 40px;
  letter-spacing: 2px !important;
  font-kerning: none !important;
}

.minute {
  margin-left: 40px;
  letter-spacing: 2px !important;
  font-kerning: none !important;
}

.goal-minute {
  font-size: var(--minute-size, 80px);
  margin-bottom: 25px;
}

.partial-score {
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: bold;
  opacity: 0.9;
}

.score-value {
  font-size: 80px;
  font-weight: bold;
  opacity: 0.9;
}

.score-section {
  margin-top: 20px;
}

.goal-container {
  position: absolute;
  top: 60%;
  left: 7%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.overlay-image {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 50%;
  z-index: 1;
  pointer-events: none;
}