:root{
  --bg1:#1b0b3a;
  --bg2:#7a0014;
  --panel:#0f0b2a;
  --accent:#e12121;
  --white: #ffffff;
  --muted: rgb(255,255,255);
}
@font-face {
  font-family: 'Tusker';
  src: url('TuskerGrotesk-3500Medium.woff2') format('woff2'),
      url('TuskerGrotesk-3500Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  ascent-override: 110%;
}


html,body{
  color:white;
  font-weight:500;
  font-family: 'Tusker';
  width: 100vw;
  margin:0;
  background-color: black;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.card{
  width: 1080px;
  height:1920px;
  overflow:hidden;
  padding:80px 40px;
  background-image: url('bg.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  position:relative;
  display:flex;
  gap:10px;
  flex-direction:column;
}

.bgimg{
  position: absolute;
  inset:0;
  width: 100%;
  height:100%;
  opacity: .2;
}
.bgimg img{
  width: 100%;
  height:100%;
  object-position: center;
  object-fit: cover;
}

.card .element{
  position: relative;
  z-index:50;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .8);
  padding: 80px;
}

.card .element h1{
  font-size:180px;
  margin:0;
  line-height:1;
}
.card .element p{
  font-size:60px;
  display:block;
  text-transform: uppercase;
  margin:0;
  margin-top:24px;
  line-height:1;
}

.card .element.flexmore {
  flex:1;
}

.card .grid{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
  position: relative;
  z-index:50;
}
.card .grid .sponsor{
  grid-column: span 1 / span 1;
  aspect-ratio: 2/1;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.card .grid .sponsor img{
  width: 60%;
}

.card .list{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap:10px;
  justify-content:space-between;
  height:100%;
}

.card .list .row{
  display: grid;
  line-height:1;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  font-size:80px;
}

.num{
  grid-column: span 1 / span 1;
  color: #DD0000;
}

.name{
  grid-column: span 7 / span 7;
  display: flex;
  align-items:center;
  gap:16px;
}
.name img.cap{
  aspect-ratio: 1;
  width: 54px;
}

.logoimg{
  position: absolute;
  bottom:100px;
  right:0;
  max-width: 45%;
  height: auto;
  opacity: .1;
  overflow:hidden
}