.App {
  text-align: center;
  font-family: var(--font-base);
}

.pages-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 100vh;
}

.page {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
}
